{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
            <p>Learn more about our breeder directory.</p>
        </div>
    </div>
</div>
{{end}}