{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Dog Breeds</h1>
            <p>Browse our collection of dog breeds.</p>
        </div>
    </div>
</div>
{{end}}
